/* Basic Reset */
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font-family: fc, sans-serif; line-height: 1.6; color: #fff; 
      background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(plane.jpg);background-position: center top; background-size: cover; /* make it taller than viewport */
    }
    a { color: #4af626; text-decoration: none; }
    a:hover { text-decoration: underline; }
    
    
    /* Layout */
    .container { max-width: 800px; margin: 0 auto; padding: 0px 20px; }
    section { padding: 10px 0; }
    h1 { font-size: 2.5rem; font-weight: 700; margin-bottom: 10px; }
    h2 { font-size: 1.8rem; font-weight: 600; margin-bottom: 20px; }
    p { margin-bottom: 15px; }
    
    /* Header */
    .header { text-align: center; }
    .header img { width: 300px; height: 300px; margin-bottom: 20px; border-radius: 50%;}
    .header .tagline { font-style: italic; color: #fff; }

       /* Lists */

    li { margin-bottom: 10px; }

    /* Contact links */
    .contact a { margin-right: 15px; font-weight: 600; }

    /* Footer */
    footer { text-align: center; font-size: 0.9rem; color: #fff; padding-top: 40px; }
    
    /* Responsive */
    @media (max-width: 600px) {
      h1 { font-size: 2rem; }
      h2 { font-size: 1.5rem; }
      .header img { width: 80px; height: 80px; }
    }

    @font-face {
      font-family: fc;
      src: url(Gridnik\ Regular.ttf);
    }

    .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-bottom:0px;
      display:flex;
      justify-content:right;
    }

    .navbar li a {
      display: block;
      color: white;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navbar li a:hover {
      background-color: #111111;
    }