@font-face {
      font-family: gd;
      src: url(Gridnik\ Regular.ttf);
    }

body {
    font-family: gd;
    font-weight:400;
    background-color: #C7C7C7;
    color:#000000;
    
}



.nav {
    margin-top:0;
    margin-bottom:0;
    padding:0;
}

a {
  
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  background-color: black;
  color: #ffffff;
  
 
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container { max-width: 1000px; 
    margin: 10px auto; 
    padding: 10px; }
    section { padding: 10px 0; }
    h1 { font-size: 2.5rem; font-weight: 700; margin-bottom: 10px; }
    h2 { font-size: 1.8rem; font-weight: 600; margin-bottom: 20px; }
    
    
    /* Header */
    .header { text-align: center; }
  
    .header .tagline { font-style: italic; color: #000000; }

       /* Lists */
    li { margin-bottom: 10px; }
    ul { list-style-type: none;}

    /* Contact links */
    .contact a { margin-right: 15px; font-weight: 600; }
    .nav a { margin-right: 10px; font-weight: 600; }

    /* Footer */
    footer { text-align: center; font-size: 0.9rem; color: #000000; padding-top: 40px; padding-bottom:10px;}